version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build"
      include: "scope"
    cooldown:
      default-days: 7
  - package-ecosystem: "cargo"
    directory: "/macros"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build"
      include: "scope"
    cooldown:
      default-days: 7
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build"
      include: "scope"
    cooldown:
      default-days: 7
